{% extends 'base.html' %}


{% block title %}
    Main page
{% endblock %}


{% block body %}
    <div class="main-page">
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img class="d-block mx-lg-auto img-fluid bowl" src="static/images/bowlmain.jpg" alt="bowl">
                </div>
                <div class="col-lg-6 content">
                    <h1 class="title lh-1 mb-3">
                        Mix of fresh, healthy &
                        delicious ingredients
                        for unique
                        taste
                    </h1>
                    <p class="lead">
                        The international team that shares passion for promoting a healthy lifestyle.
                        Here we are to proove that healthy can be oh, soooo delicious!
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}